
/* Open Sans Font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Open Sans Font family */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

